@if (isModalFoto) {
	<app-modal (onClose)="closeModalFoto()" zindex="z-4">
		<div class="w-full">
			<main class="w-full relative flex flex-row justify-center">
				<img src="{{ urlFotoEdit }}" class="h-full" />
			</main>
		</div>
	</app-modal>
}

@if (ImageCropped) {
	<app-modal zindex="z-4">
		<div class="w-full">
			<main>
				<image-cropper
					class="bg-main-100 cropper w-[80%]"
					[hidden]="!imageChangedEvent"
					[imageChangedEvent]="imageChangedEvent"
					[maintainAspectRatio]="true"
					[aspectRatio]="1"
					format="png"
					(imageCropped)="imageCropped($event)"
					(imageLoaded)="imageLoaded($event)"
					(cropperReady)="cropperReady()"
					(loadImageFailed)="loadImageFailed()"
					output="base64"
				></image-cropper>
				<button (click)="confirmar()" appButton>Confirmar</button>
			</main>
		</div>
	</app-modal>
}

@if (isModalExcluirOpen) {
	<app-modal
		class="w-full"
		[confirmMode]="true"
		[message]="'Tem certeza que deseja excluir o evento?'"
		(onClose)="onToggleExcluirModal($event)"
	></app-modal>
}
@if (isModalCriarOpen) {
	<app-modal (onClose)="onToggleCriarModal()">
		<div class="w-full">
			<header
				class="border-b-4 border-b-main-500 w-full flex flex-row justify-start"
			>
				<h1 class="font-bold text-3xl">Criar Evento</h1>
			</header>
			<main>
				<form
					class="flex flex-1 space-y-2 flex-col p-2"
					#criarEventoForm="ngForm"
					(ngSubmit)="submitCriarEventoForm(criarEventoForm)"
				>
					<section class="flex flex-row space-x-2 flex-1">
						<section class="flex flex-col space-y-2 flex-1">
							<div class="flex flex-col">
								<label for="nome">Nome:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="text"
									name="nome"
									id="nomeCriarEvento"
									ngModel
									placeholder="..."
									#nomeCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="dataHoraInicio">Início</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="datetime-local"
									name="dataHoraInicio"
									id="inicioCriarEvento"
									ngModel
									placeholder="..."
									#inicioCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="foto">Foto:</label>
								<input
									placeholder="Escolha um arquivo..."
									class="p-1 bg-main-500 text-main-100 rounded-md"
									type="file"
									(change)="fileChangeEvent($event)"
								/>
							</div>
						</section>
						<section class="flex flex-col space-y-2 flex-1">
							<div class="flex flex-col">
								<label for="local">Local:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="text"
									name="local"
									id="localCriarEvento"
									ngModel
									placeholder="..."
									#localCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="dataHoraFim">Fim:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="datetime-local"
									name="dataHoraFim"
									id="fimCriarEvento"
									ngModel
									placeholder="..."
									#fimCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="valor">Preço:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="number"
									name="valor"
									id="precoCriarEvento"
									ngModel
									placeholder="..."
									#precoCriarEvento="ngModel"
									required
								/>
							</div>
						</section>
					</section>
					<button class="w-36 mt-3" type="submit" appButton>
						Criar
					</button>
				</form>
			</main>
		</div>
	</app-modal>
}
@if (isModalEditarOpen && currentEventoEditar) {
	<app-modal (onClose)="onToggleEditarModal()">
		<div class="w-full">
			<header
				class="border-b-4 border-b-main-500 w-full flex flex-row justify-start"
			>
				<h1 class="font-bold text-3xl">Editar Evento</h1>
			</header>
			<main>
				<!-- Mudar a funçao do form de edição (esta com a mesma de criar) -->
				<form
					class="flex flex-1 space-y-2 flex-col p-2"
					#editarEventoForm="ngForm"
					(ngSubmit)="submitEditarEventoForm(editarEventoForm)"
				>
					<section class="flex flex-row space-x-2 flex-1">
						<section class="flex flex-col space-y-2 flex-1">
							<div class="flex flex-col">
								<label for="nome">Nome:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="text"
									name="nome"
									id="nomeCriarEvento"
									[ngModel]="currentEventoEditar.nome"
									placeholder="..."
									#nomeCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="dataHoraInicio">Início</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="datetime-local"
									name="dataHoraInicio"
									id="inicioCriarEvento"
									[ngModel]="
										currentEventoEditar.dataHoraInicio
									"
									placeholder="..."
									#inicioCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="foto">Foto:</label>
								<input
									placeholder="Escolha um arquivo..."
									class="p-1 bg-main-500 text-main-100 rounded-md"
									type="file"
									(change)="fileChangeEvent($event)"
								/>
							</div>
						</section>
						<section class="flex flex-col space-y-2 flex-1">
							<div class="flex flex-col">
								<label for="local">Local:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="text"
									name="local"
									id="localCriarEvento"
									[ngModel]="currentEventoEditar.local"
									placeholder="..."
									#localCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="dataHoraFim">Fim:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="datetime-local"
									name="dataHoraFim"
									id="fimCriarEvento"
									[ngModel]="currentEventoEditar.dataHoraFim"
									placeholder="..."
									#fimCriarEvento="ngModel"
									required
								/>
							</div>
							<div class="flex flex-col">
								<label for="valor">Preço:</label>
								<input
									class="p-1 bg-main-300 rounded-md"
									type="number"
									name="valor"
									id="precoCriarEvento"
									[ngModel]="currentEventoEditar.valor"
									placeholder="..."
									#precoCriarEvento="ngModel"
									required
								/>
							</div>
						</section>
					</section>
					@if (urlFotoEdit != "") {
						<section class="flex flex-row space-x-2 flex-1">
							<div class="flex flex-col flex-1"></div>
							<div class="flex flex-col flex-1">
								<button type="button" (click)="ver()" appButton>
									Ver foto
								</button>
							</div>
						</section>
					}
					<button class="w-36 mt-3" type="submit" appButton>
						Salvar Edições
					</button>
				</form>
			</main>
		</div>
	</app-modal>
}
<main class="py-4 max-w-full max-h-full h-full">
	<section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
			<button
				type="button"
				appButton
				size="extraSmall"
				(click)="limparFiltros(filterForm)"
			>
				Limpar filtros
			</button>
		</div>
		<form
			class="flex flex-col space-y-4 text-main-500 font-bold"
			#filterForm="ngForm"
			(ngSubmit)="onFilter(filterForm)"
		>
			<div class="flex flex-row space-x-4">
				<div class="flex flex-col">
					<p>Nome</p>
					<input
						class="p-1 bg-main-300 w-36 rounded-md"
						type="text"
						name="nome"
						id="nomeFilter"
						ngModel
						placeholder="..."
						#nomeFilter="ngModel"
						required
					/>
				</div>
				<div class="flex flex-col">
					<p>Data</p>
					<input
						class="p-1 bg-main-300 w-36 rounded-md"
						type="date"
						name="data"
						id="dataFilter"
						ngModel
						placeholder="..."
						#dataFilter="ngModel"
						required
					/>
				</div>
				<div class="flex flex-col">
					<p>Local</p>
					<input
						class="p-1 bg-main-300 w-36 rounded-md"
						type="text"
						name="local"
						id="localFilter"
						ngModel
						placeholder="..."
						#localFilter="ngModel"
						required
					/>
				</div>
			</div>
		</form>
	</section>
	<section class="flex justify-start space-x-2 flex-row">
		<button
			(click)="onToggleCriarModal()"
			icon="add_circle"
			icon-slot="right"
			appButton
			color="dark"
		>
			Novo
		</button>
		<button
			icon="search"
			icon-slot="right"
			appButton
			color="dark"
			(click)="filterForm.ngSubmit.emit()"
		>
			Filtrar
		</button>
	</section>
	@if (eventos && eventos.conteudo.length > 0) {
		<app-simple-table
			[colunas]="colunas"
			[dados]="eventos.conteudo"
			[botoesAcoes]="acoes"
			[totalItens]="eventos.total"
			(paginacaoChange)="onPaginacaoChange($event)"
			(orderChange)="orderBy($event)"
		>
		</app-simple-table>
	}
</main>
