<main class="p-8 max-w-full max-h-full h-full overflow-auto max-h-[90vh] app-scrollbar">
	<section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-5xl font-bold">
				Eventos Disponíveis
			</h1>
		</div>

		<div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-10 mt-4">
			<div
				*ngFor="let evento of eventos?.conteudo"
				class="border-2 border-main-500 rounded-lg p-4 shadow-md bg-main-300"
			>
				<img
					[src]="evento.urlFoto != null ? evento.urlFoto : './no-image.svg'"
					alt="{{ evento.nome }}"
					class="w-full h-48 object-cover rounded-lg mb-4"
				/>
				<h2 class="font-semibold text-lg">{{ evento.nome }}</h2>
				<p class="text-sm text-gray-600">{{ evento.local }}</p>
				<p class="text-sm text-gray-500">
					{{ evento.dataHoraInicio | date: "dd/MM/yyyy HH:mm" }} -
					{{ evento.dataHoraFim | date: "dd/MM/yyyy HH:mm" }}
				</p>
				<p class="mt-2 text-sm">Preço: R$ {{ evento.valor }}</p>
			</div>
		</div>
	</section>
</main>

