@if (openModal == "aceitar") {
<app-modal (onClose)="closeAceitarModal()">
	<div>
		<header
				class="border-b-4 border-b-main-500 w-full flex flex-row justify-start"
			>
			<h1 class="font-bold text-3xl">Selecione a sala para aceitar</h1>
		</header>
		<main>
			<form [formGroup]="salaForm" class="flex flex-col p-2 space-y-5">
				<section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="sala">Sala: </label>
					  <select
					  class="p-1 bg-main-300 rounded-md"
					  name="sala"
					  id="sala"
					  formControlName="sala"
					  required>
						  <option value="">Selecione...</option>	
						  <option *ngFor="let sala of salasLs" [ngValue]="sala.id">{{ sala.nome }}</option>
					  </select>
					</div>
				  </section>
				<button class="self-start mt-3" type="submit" [disabled]="!isFormSalaValido()" (click)="aceitarConfirm()" appButton>
				  Aceitar
				</button>
			</form>
		</main>
	</div>
</app-modal>
} @if (openModal == "cancelar") {
<app-modal (onClose)="closeCancelarModal()">
	<p class="font-bold text-xl border-b-4 border-b-main-500 mb-2 pb-2">
		Deseja mesmo cancelar a aula?
	</p>
	<form class="flex flex-col" #cancelForm="ngForm">
		<div class="flex flex-col pb-2 space-y-1">
			<label for="motivoCancelar">Motivo: </label>
			<textarea
				class="bg-main-300 rounded-md p-1"
				required
				ngModel
				name="motivoCancelar"
				rows="4"
			></textarea>
		</div>
		<div class="flex space-x-4">
			<button appButton (click)="onCancelarAula(cancelForm)">
				Enviar
			</button>
			<button appButton color="danger" (click)="onCancelarAula(false)">
				Cancelar
			</button>
		</div>
	</form>
</app-modal>
} @if (openModal == "recusar") {
<app-modal (onClose)="closeIndeferirModal()">
	<p class="font-bold text-xl border-b-4 border-b-main-500 mb-2 pb-2">
		Deseja mesmo recusar a aula?
	</p>
	<form class="flex flex-col" #recusarForm="ngForm">
		<div class="flex flex-col pb-2 space-y-1">
			<label for="motivoRecusar">Motivo: </label>
			<textarea
				class="bg-main-300 rounded-md p-1"
				required
				ngModel
				name="motivoRecusar"
				rows="4"
			></textarea>
		</div>
		<div class="flex space-x-4">
			<button appButton (click)="onRecusarAula(recusarForm)">
				Enviar
			</button>
			<button appButton color="danger" (click)="onRecusarAula(false)">
				Cancelar
			</button>
		</div>
	</form>
</app-modal>
}
<main class="py-4 max-w-full max-h-full h-full">
	<section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
			<button
				type="button"
				appButton
				size="extraSmall"
				(click)="limparFiltros()"
			>
				Limpar filtros
			</button>
		</div>
		<form
			class="flex flex-col text-main-500 font-bold"
			[formGroup]="filterForm"
		>
			<div class="flex px-1 flex-row space-x-2">
				<section class="flex flex-row space-x-4 flex-1">
					<div class="flex flex-col">
						<app-search-box-single
							formControlName="idAluno"
							[label]="'Aluno:'"
							[options]="alunosFilterLs"
							[optionLabel]="'idUsuario.nome'"
							[optionValue]="'id'"
							nullLabel="Pesquisar"
							(searchChange)="buscarAluno($event)"
						></app-search-box-single>
					</div>
					<div class="flex flex-col">
						<app-search-box-single
							formControlName="idProfessor"
							[label]="'Professor:'"
							[options]="professoresFilterLs"
							[optionLabel]="'idUsuario.nome'"
							[optionValue]="'id'"
							nullLabel="Pesquisar"
							(searchChange)="buscarProfessor($event)"
						></app-search-box-single>
					</div>
					<div class="flex flex-col">
						<app-multi-select-input
							formControlName="status"
							[label]="'Status:'"
							[options]="statusObj"
							optionLabel="name"
							optionValue="value"
							nullLabel="Todos"
						>
						</app-multi-select-input>
					</div>
				</section>
			</div>
		</form>
	</section>
	<section class="flex justify-between flex-row">
		<div class="flex flex-row space-x-2">
			<button
				icon="search"
				icon-slot="right"
				appButton
				color="dark"
				(click)="onFilter()"
			>
				Filtrar
			</button>
		</div>
	</section>
	<app-simple-table
		[colunas]="colunas"
		[dados]="aulaExtraObj.conteudo"
		[botoesAcoes]="acoes"
		[totalItens]="aulaExtraObj.total"
		(paginacaoChange)="onPaginacaoChange($event)"
		(orderChange)="orderBy($event)"
	>
	</app-simple-table>
</main>
