<main class="bg-main-100 flex flex-1 flex-col h-full w-full p-8">
	<section class="flex flex-1 flex-col">
		<h1 class="text-3xl sm:text-5xl text-main-500 py-2 font-bold">
			Veja os próximos eventos...
		</h1>
		<div
			class="justify-start items-center space-x-12 py-2 flex-1 flex-row flex"
		>
			@for (evento of proximosEventos; track evento.id) {
				<app-simple-card
					[imageUrl]="evento.urlFoto || 'no-image.svg'"
					[title]="evento.nome"
				>
					{{ getDataTexto(evento) }}
					<br />
					{{ getHorarioTexto(evento) }}
				</app-simple-card>
			}
		</div>
	</section>
	<section class="flex flex-1 flex-col">
		<h1 class="text-3xl sm:text-5xl py-2 text-main-500 font-bold">
			Aulas do Dia: ({{ aulasDoDia.length }})
		</h1>
		@if (aulasDoDia.length > 0) {
			<div class="py-2 items-end flex justify-between">
				<div class="flex flex-col w-full">
					<p class="font-bold text-main-500 text-lg">
						{{ aulaNaTelaIndex + 1 }}ª aula:
					</p>
					<app-calendario-item
						[item]="aulasDoDia[aulaNaTelaIndex]"
					></app-calendario-item>
				</div>
				<div
					class="flex flex-col h-28 justify-center space-y-2 w-1/3 px-4"
				>
					<button appButton (click)="proximaAula()" moreStyles="w-32">
						Próxima Aula
					</button>
					<button
						appButton
						(click)="aulaAnterior()"
						moreStyles="w-32"
					>
						Aula Anterior
					</button>
				</div>
			</div>
		} @else {
			<h1 class="font-bold text-2xl text-main-500">Não há aulas hoje!</h1>
		}
	</section>
</main>
