<main class="py-4 max-w-full max-h-full h-full">
	<section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
			<button
				type="button"
				appButton
				size="extraSmall"
				(click)="resetFilter()"
			>
				Limpar filtros
			</button>
		</div>
		<form class="flex flex-col text-main-500 font-bold" [formGroup]="filterForm">
			<div class="flex px-1 flex-row space-x-2">
				<section class="flex flex-row space-x-4 flex-1">
					<div class="flex flex-col">
						<label for="criadoEm">Criado em:</label>
						<select
							class="p-1 bg-main-300 rounded-md w-36 h-8.5"
							name="criadoEm"
							id="criadoEm"
							formControlName="criadoEm"
						>
							<option value="">Todas</option>
							<option *ngFor="let criado of datesfilter" [ngValue]="criado.value">{{ criado.text }}</option>
						</select>
					</div>
					<div class="flex flex-col">
						<label for="pagoEm">Pago em:</label>
						<select
							class="p-1 bg-main-300 rounded-md w-36 h-8.5"
							name="pagoEm"
							id="pagoEm"
							formControlName="pagoEm"
						>
							<option value="">Todas</option>
							<option *ngFor="let criado of datesfilter" [ngValue]="criado.value">{{ criado.text }}</option>
						</select>
					</div>
					<div class="flex flex-col">
						<app-multi-select-input
						formControlName="tipos"
						[label]="'Tipo:'"
						[options]="tipos"
						optionLabel="text"
						optionValue="value"
						(selectionChange)="onTipoChange($event)"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
					<div class="flex flex-col">
						<app-multi-select-input
						formControlName="status"
						[label]="'Status:'"
						[options]="status"
						optionLabel="text"
						optionValue="value"
						(selectionChange)="onStatusChange($event)"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
					<div class="flex flex-col">
						<app-search-box-multi
						formControlName="alunos"
						[options]="alunosFilterLs"
						optionLabel="idUsuario.nome"
						optionValue="id"
						[label]="'Aluno: '"
						[nullLabel]="'Pesquisar...'"
						(selectionChange)="onAlunoChange($event)"
						(searchChange)="buscarAluno($event)"
						></app-search-box-multi>
					</div>
				</section>
			</div>
		</form>
	</section>
	<section class="flex justify-between flex-row">
		<div class="flex flex-row space-x-2">
			<button icon="search" icon-slot="right" appButton color="dark" (click)="onFilter()">
				Filtrar
			</button>
		</div>
	</section>
	<app-simple-table
	[colunas]="colunas"
	[dados]="dividendos.conteudo"
	[totalItens]="dividendos.total"
	(paginacaoChange)="onPaginacaoChange($event)"
	(orderChange)="orderBy($event)">
	</app-simple-table>
</main>
