<main class="py-4 max-w-full h-full overflow-auto max-h-[90vh] app-scrollbar">
    <section class="flex flex-row py-5">
        <h1 class="text-main-500 text-xl font-bold">Relatório financeiro anual de</h1>
        <form [formGroup]="anoForm">
            <select
			name="ano"
			id="ano"
			class="text-white bg-main-500 p-1 mx-3 rounded-lg"
			formControlName="ano"
			>
				<option *ngFor="let ano of anos"  [ngValue]="ano">{{ ano }}</option>
			</select>
        </form>
    </section>
    <section>
        <div class="padrao w-full h-120 flex justify-center items-center">
            <app-graphic-line 
            #graficoLinha
            [labels]="labelsGL" 
            [data]="dataGL">
            </app-graphic-line>
        </div>
    </section>
    <section class="flex flex-row space-x-4 py-5">
        <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
            <h1 class="text-main-500 text-xl font-bold">{{ totalBoletosPagosNoPrazo }}</h1>
            <span class="text-main-500 text-base font-normal">Boletos pagos no prazo</span>
        </div>
        <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
            <h1 class="text-main-500 text-xl font-bold">{{ totalBoletosPagosAtrasado }}</h1>
            <span class="text-main-500 text-base font-normal">Boletos pagos atrasados</span>
        </div>
        <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
            <h1 class="text-main-500 text-xl font-bold">R${{ totalValorPagoNoPrazo }}</h1>
            <span class="text-main-500 text-base font-normal">Valor pago no prazo</span>
        </div>
        <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
            <h1 class="text-main-500 text-xl font-bold">R${{ totalValorPagoAtrasado }}</h1>
            <span class="text-main-500 text-base font-normal">Valor pago com atraso</span>
        </div>
    </section>
    <section class="flex flex-row py-5 items-center">
        <h1 class="text-main-500 text-xl font-bold">Relatório financeiro mensal de</h1>
        <form [formGroup]="mesForm">
            <select
			name="mes"
			id="mes"
			class="text-white bg-main-500 p-1 mx-3 rounded-lg text-center"
			formControlName="mes"
			>
				<option *ngFor="let mes of meses"  [ngValue]="mes.value">{{ mes.name }}</option>
			</select>
        </form>
        <h1 class="text-main-500 text-xl font-bold">/{{ anoSelecionado }}</h1>
    </section>
    @if(hasMes){
        <section class="flex flex-row space-x-4 py-5">
            <div class="padrao flex-1 aspect-square p-3 flex flex-col">
                <h1 class="text-main-500 text-xl font-bold w-full">Atrasados (Total)</h1>
                <app-graphic-pizza #graficoPizza1 class="flex-1" [labels]="labelsGP" [data]="dataGP1"></app-graphic-pizza>
            </div>
            <div class="padrao flex-1 aspect-square p-3 flex flex-col">
                <h1 class="text-main-500 text-xl font-bold w-full">Atrasados (Valor)</h1>
                <app-graphic-pizza #graficoPizza2 class="flex-1" [labels]="labelsGP" [data]="dataGP2"></app-graphic-pizza>
            </div>
            <div class="padrao flex-1 aspect-square p-3 flex flex-col">
                <h1 class="text-main-500 text-xl font-bold w-full">No prazo (Total)</h1>
                <app-graphic-pizza #graficoPizza3 class="flex-1" [labels]="labelsGP" [data]="dataGP3"></app-graphic-pizza>
            </div>
            <div class="padrao flex-1 aspect-square p-3 flex flex-col">
                <h1 class="text-main-500 text-xl font-bold w-full">No prazo (Valor)</h1>
                <app-graphic-pizza #graficoPizza4 class="flex-1" [labels]="labelsGP" [data]="dataGP4"></app-graphic-pizza>
            </div>
        </section>
        <section class="flex flex-row space-x-3 py-5">
            <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
                <h1 class="text-main-500 text-xl font-bold">{{ boletosMesPagosNoPrazo }}</h1>
                <span class="text-main-500 text-base font-normal">Boletos pagos no prazo</span>
            </div>
            <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
                <h1 class="text-main-500 text-xl font-bold">{{ boletosMesPagosAtrasado }}</h1>
                <span class="text-main-500 text-base font-normal">Boletos pagos atrasados</span>
            </div>
            <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
                <h1 class="text-main-500 text-xl font-bold">{{ boletosMesMediaDiasAtraso }}</h1>
                <span class="text-main-500 text-base font-normal">Media de dias de atraso</span>
            </div>
        </section>
        <section class="flex flex-row space-x-3 py-5">
            <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
                <h1 class="text-main-500 text-xl font-bold">R${{ boletosMesValorNoPrazo }}</h1>
                <span class="text-main-500 text-base font-normal">Valor pago no prazo</span>
            </div>
            <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
                <h1 class="text-main-500 text-xl font-bold">R${{ boletosMesValorAtrasado }}</h1>
                <span class="text-main-500 text-base font-normal">Valor pago com atraso</span>
            </div>
            <div class="py-10 flex-1 padrao flex flex-col justify-center items-center">
                <h1 class="text-main-500 text-xl font-bold">{{ boletosMesNaoPagos }}</h1>
                <span class="text-main-500 text-base font-normal">Boletos pendentes</span>
            </div>
        </section>
    }
    @if(!hasMes){
        <h1 class="text-main-500 text-xl font-bold w-full">Sem dados para este mês</h1>
    }
</main>

