<div class="flex flex-row flex-1 w-full h-28">
	<section
		class="w-1/4 rounded-s-2xl text-main-100 bg-main-500 items-center justify-center flex flex-col font-bold"
	>
		<p>{{ item.isHomeProp ? "Horários:" : (item.dataHorario | date) }}</p>
		<p>
			{{
				item.isHomeProp
					? getHoras(item.dataHorario)
					: diasDaSemana[item.dataHorario.getDay()]
			}}
			-
			{{
				item.isHomeProp
					? getHoras(item.dataHorarioFim)
					: getHoras(item.dataHorario)
			}}
		</p>
	</section>
	<section
		class="w-3/4 flex flex-row rounded-e-2xl text-main-500 bg-main-300 justify-between items-center px-5"
	>
		<div class="flex flex-col">
			<h1 class="font-bold text-3xl">{{ item.title }}</h1>
			<p class="font-semibold text-lg">{{ item.subtitle }}</p>
		</div>
		<div>
			@if (item.button) {
				<button
					type="button"
					appButton
					[color]="getButtonCor()"
					(click)="item?.button?.click()"
				>
					{{ item?.button?.label }}
				</button>
			}
		</div>
	</section>
</div>
