@if (isModalConfirm) {
	<app-modal
		[confirmMode]="true"
		message="O aluno foi convertido?"
		(onClose)="onConfirm($event)"
	></app-modal>
}

@if(isModalRejeitarOpen){
    <app-modal
		(onClose)="closeRejeitarModal()"
	>
	<div class="w-full">
		<header
			class="border-b-4 border-b-main-500 w-full flex flex-row justify-start"
		>
			<h1 class="font-bold text-3xl">Rejeitar aluno</h1>
		</header>
		<main>
			<form [formGroup]="rejeitarForm" class="flex flex-col p-2 space-y-3">
				<section class="flex flex-row space-x-3 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="motivo">Motivo: </label>
					  <select
					  class="p-1 bg-main-300 rounded-md"
					  name="motivo"
					  id="motivo"
					  formControlName="motivo"
					  required>
						  <option *ngFor="let motivo of motivos" [ngValue]="motivo.value">{{ motivo.name }}</option>
					  </select>
					</div>
				</section>

                <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
						<label for="mensagem"
							>Motivo outro:</label
						>
						<textarea
							class="p-1 bg-main-300 rounded-md resize-none"
							name="mensagem"
							id="mensagem"
							rows="4"
							maxlength="255"
							placeholder="..."
                            formControlName="mensagem"
						></textarea>
					</div>
				</section>
				<button class="self-start mt-3" type="submit" [disabled]="!isReitarFormValido()" (click)="reitarConfirm()" appButton>
				  Confirmar
				</button>
			</form>
		</main>
	</div>
	</app-modal>
}

@if(isModalOpen){
    <app-modal
		(onClose)="closeModal()"
	>
	<div class="w-full">
		<header
			class="border-b-4 border-b-main-500 w-full flex flex-row justify-start"
		>
			<h1 class="font-bold text-3xl">{{ isEdit? ToggleModal.EDIT : ToggleModal.NEW}}</h1>
		</header>
		<main>
			<form [formGroup]="aulaForm" class="flex flex-col p-2 space-y-3">
				<section class="flex flex-row space-x-3 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="data">Data:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="date"
						lang="pt-BR"
						name="data"
						id="data"
					  	formControlName="data"
						required
						/>
					</div>
  
					<div class="flex flex-col flex-1">
					  <label for="horarioInicio">Horário Inicio:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="time"
						lang="pt-BR"
						name="horarioInicio"
						id="horarioInicio"
					  	formControlName="horarioInicio"
						required
						/>
					</div>

                    <div class="flex flex-col flex-1">
					  <label for="horarioFim">Horário Fim:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="time"
						lang="pt-BR"
						name="horarioFim"
						id="horarioFim"
					  	formControlName="horarioFim"
						required
						/>
					</div>
				  </section>

                  <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="cpf">CPF:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="text"
						mask="000.000.000-00"
						name="cpf"
						id="cpf"
					  	formControlName="cpf"
						placeholder="XXX.XXX.XXX-XX"
						required
						/>
					</div>
  
					<div class="flex flex-col flex-1">
					  <label for="numero">Telefone:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="text"
						mask="(00) 00000-0000"
						name="numero"
						id="numero"
					  	formControlName="numero"
						placeholder="XXX.XXX.XXX-XX"
						required
						/>
					</div>
				  </section>

                  <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="nome">Nome:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="text"
						name="nome"
						id="nome"
					  	formControlName="nome"
						required
						/>
					</div>
  
					<div class="flex flex-col flex-1">
					  <app-search-box-single
                        formControlName="idProfessor"
						required
                        [label]="'Professor:'"
                        [options]="professoresLs"
                        [optionLabel]="'idUsuario.nome'"
                        [optionValue]="'id'"
                        nullLabel="Pesquisar"
                        (searchChange)="buscarProfessor($event)"
                        ></app-search-box-single>
					</div>
				  </section>
				<button class="self-start mt-3" type="submit" [disabled]="!isFormValido()" (click)="salvar()" appButton>
				  Salvar
				</button>
			</form>
		</main>
	</div>
	</app-modal>
}

<main class="py-4 max-w-full max-h-full h-full">
	<section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
			<button
				type="button"
				appButton
				size="extraSmall"
				(click)="limparFiltros()"
			>
				Limpar filtros
			</button>
		</div>
		<form class="flex flex-col text-main-500 font-bold" [formGroup]="filterForm">
			<div class="flex px-1 flex-row space-x-2">
				<section class="flex flex-row space-x-4 flex-1">
					<div class="flex flex-col">
                        <label>Datas:</label>
                        <div class="flex flex-row">
                            <input class="p-1 rounded-md bg-main-300" 
                            type="date" 
                            name="dataInicial" 
                            id="dataInicial"
                            formControlName="dataInicial" 
                            />
                            <span class="text-main-500 mx-1">-</span>
                            <input class="p-1 rounded-md bg-main-300 h-8.5" 
                            type="date" 
                            name="dataFinal" 
                            id="dataFinal"
                            formControlName="dataFinal" />
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label for="cpf">CPF:</label>
                        <input
                        class="p-1 bg-main-300 rounded-md"
                        type="text"
                        mask="000.000.000-00"
                        name="cpf"
                        id="cpf"
                        formControlName="cpf"
                        placeholder="XXX.XXX.XXX-XX"
                        />
                    </div>
                    <div class="flex flex-col">
					  <app-search-box-single
                        formControlName="idProfessor"
						required
                        [label]="'Professor:'"
                        [options]="professoresLs"
                        [optionLabel]="'idUsuario.nome'"
                        [optionValue]="'id'"
                        nullLabel="Pesquisar"
                        (searchChange)="buscarProfessor($event)"
                        ></app-search-box-single>
					</div>
                    <div class="flex flex-col">
						<app-multi-select-input
                        formControlName="situacao"
						[label]="'Situção:'"
						[options]="situacao"
						optionLabel="name"
						optionValue="value"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
					<div class="flex flex-col">
						<app-multi-select-input
                        formControlName="motivos"
						[label]="'Situção:'"
						[options]="motivos"
						optionLabel="name"
						optionValue="value"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
				</section>
			</div>
		</form>
	</section>
	<section class="flex justify-between flex-row">
		<div class="flex flex-row space-x-2">
            <button icon="add_circle" icon-slot="right" appButton color="dark" (click)="openModal()">
				Novo
			</button>
			<button
				icon="search"
				icon-slot="right"
				appButton
				color="dark"
				(click)="onFilter()"
			>
				Filtrar
			</button>
		</div>
	</section>
	<app-simple-table
		[colunas]="colunas"
		[dados]="aulasObj.conteudo"
		[botoesAcoes]="acoes"
		[totalItens]="aulasObj.total"
		(paginacaoChange)="onPaginacaoChange($event)"
		(orderChange)="orderBy($event)"
	>
	</app-simple-table>
</main>

