@if (isModalConfirm) {
	<app-modal
		[confirmMode]="true"
		message="Deseja desativar essa aula?"
		(onClose)="onConfirmStatus($event)"
	></app-modal>
}

@if (isModalOpen){
	<app-modal
		(onClose)="closeModal()"
	>
	<div class="w-full">
		<header
			class="border-b-4 border-b-main-500 w-full flex flex-row justify-start"
		>
			<h1 class="font-bold text-3xl">{{ isEdit? ToggleModal.EDIT : ToggleModal.NEW}}</h1>
		</header>
		<main>
			<form [formGroup]="aulaForm" class="flex flex-col p-2 space-y-5">
				<section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
						<app-search-box-single
                        formControlName="idProfessor"
						required
                        [label]="'Professor:'"
                        [options]="professoresObj"
                        [optionLabel]="'idUsuario.nome'"
                        [optionValue]="'id'"
                        nullLabel="Pesquisar"
                        (searchChange)="buscarProfessores($event)"
                        ></app-search-box-single>
					</div>
					<div class="flex flex-col flex-1">
					  <label for="idModalidade">Modalidade: </label>
					  <select
					  class="p-1 bg-main-300 rounded-md"
					  name="idModalidade"
					  id="idModalidade"
					  formControlName="idModalidade"
					  required>
						  <option value="">Selecione...</option>	
						  <option *ngFor="let mods of modalidadesObj" [ngValue]="mods.id">{{ mods.nome }}</option>
					  </select>
					</div>
				  </section>
				  <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
						<label for="horarioInicio">Horário Inicio:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="time"
						lang="pt-BR"
						name="horarioInicio"
						id="horarioInicio"
					  	formControlName="horarioInicio"
						required
						/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="horarioFim">Horário Fim:</label>
						<input
						class="p-1 bg-main-300 rounded-md"
						type="time"
						lang="pt-BR"
						name="horarioFim"
						id="horarioFim"
					  	formControlName="horarioFim"
						required
						/>
					</div>
				  </section>
				  <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="diaSemana">Dia semana: </label>
					  <select
					  class="p-1 bg-main-300 rounded-md"
					  name="diaSemana"
					  id="diaSemana"
					  formControlName="diaSemana"
					  required>
						  <option value="">Selecione...</option>	
						  <option *ngFor="let dias of diasObj" [ngValue]="dias.dia">{{ dias.nome }}</option>
					  </select>
					</div>
					<div class="flex flex-1 flex-col">
						<app-search-box-multi
						[options]="alunosFilterLs"
						optionLabel="idUsuario.nome"
						optionValue="id"
						[label]="'Aluno: '"
						[nullLabel]="'Pesquisar...'"
						(selectionChange)="onAlunoChange($event)"
						(searchChange)="buscarAluno($event)"
						formControlName="alunos"
						></app-search-box-multi>
					</div>
				  </section>
				  <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="maxAlunos">Maximo de Alunos: </label>
					  <input
						class="p-1 bg-main-300 rounded-md"
						type="number"
						name="maxAlunos"
						id="maxAlunos"
						formControlName="maxAlunos"
						required
						/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="nivel">Nivel: </label>
					  	<select
					  	class="p-1 bg-main-300 rounded-md"
					  	name="nivel"
					  	id="nivel"
						formControlName="nivel"
					  	required>
							<option value="">Selecione...</option>	
						  	<option [ngValue]="1">Basico</option>
						  	<option [ngValue]="2">Intermediario</option>
						  	<option [ngValue]="3">Avançado</option>
					  	</select>
					</div>
				  </section>
				  <section class="flex flex-row space-x-2 flex-1">
					<div class="flex flex-col flex-1">
					  <label for="idSala">Sala: </label>
					  <select
					  class="p-1 bg-main-300 rounded-md"
					  name="idSala"
					  id="idSala"
					  formControlName="idSala"
					  required>
						  <option value="">Selecione...</option>	
						  <option *ngFor="let sala of salasObj" [ngValue]="sala.id">{{ sala.nome }}</option>
					  </select>
					</div>
					<div class="flex flex-col flex-1"></div>
				  </section>
				
				<button class="self-start mt-3" type="submit" [disabled]="!isFormValido()" (click)="salvar()" appButton>
				  Salvar
				</button>
			</form>
		</main>
	</div>
	</app-modal>
}

<div *ngIf="isLoading" class="overlay">
	<div class="loader"></div>
</div>

<main class="py-4 max-w-full max-h-full h-full">
    <section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
			<button
				type="button"
				appButton
				size="extraSmall"
				(click)="resetFilter()"
			>
				Limpar filtros
			</button>
		</div>
		<form class="flex flex-col text-main-500 font-bold" [formGroup]="filterForm">
			<div class="flex px-1 flex-row space-x-2">
				<section class="flex flex-row space-x-4 flex-1">
					<div class="flex flex-col">
						<app-multi-select-input
						formControlName="dias"
						[label]="'Dias:'"
						[options]="diasObj"
						optionLabel="nome"
						optionValue="dia"
						(selectionChange)="onDiasChange($event)"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
					<div class="flex flex-col">
						<app-multi-select-input
						formControlName="modalidades"
						[label]="'Modalidades:'"
						[options]="modalidadesObj"
						optionLabel="nome"
						optionValue="id"
						(selectionChange)="onModalidadeChange($event)"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
					<div class="flex flex-col">
						<app-search-box-multi 
						[options]="professoresObj" 
						optionLabel="idUsuario.nome"
                        optionValue="id" 
						[label]="'Professor: '" 
						[nullLabel]="'Pesquisar...'"
                        (searchChange)="buscarProfessores($event)" 
						formControlName="professores">
                        </app-search-box-multi>
					</div>
				</section>
			</div>
		</form>
	</section>
	<section class="flex justify-between flex-row">
		<div class="flex flex-row space-x-2">
			<button icon="add_circle" icon-slot="right" appButton color="dark" (click)="openModal()">
				Novo
			</button>
			<button icon="search" icon-slot="right" appButton color="dark" (click)="onFilter()">
				Filtrar
			</button>
		</div>
	</section>
	<app-simple-table
	[colunas]="colunas"
	[dados]="aulaObj.conteudo"
	[botoesAcoes]="acoes"
	[totalItens]="aulaObj.total"
	(paginacaoChange)="onPaginacaoChange($event)"
	(orderChange)="orderBy($event)">
	</app-simple-table>
</main>
