/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
	--color-main-100: oklch(0.95 0.0297 62.59);
	--color-main-300: oklch(0.87 0.0218 65.28);
	--color-main-400: oklch(0.6432 0.1412 48.13);
	--color-main-500: oklch(0.37 0.0565 58.42);
	--color-main-400: oklch(0.69 0.0586 57.7);
	--color-main-900: oklch(0.19 0.0227 66.08);
	--color-danger: oklch(0.51 0.2037 28.58);
}

html,
body {
	padding: 0;
	margin: 0;
	border: none;
	height: 100%;
    background-color: #FFECDC;
}

.bgPattern {
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23dfd2c6ff'/><path d='M32-10L42 0 32 10 22 0zM0-10L10 0 0 10-10 0zm0 32l10 10L0 42l-10-10zm32 0l10 10-10 10-10-10zM16-10L26 0 16 10 6 0zm0 32l10 10-10 10L6 32zM32 6l10 10-10 10-10-10zM0 6l10 10L0 26l-10-10zm16 0l10 10-10 10L6 16z'  stroke-linecap='square' stroke-width='1' stroke='%23b99479ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.app-scrollbar {
	scrollbar-color: var(--color-main-500) var(--color-main-100);
}

.tabela {
	background-color: var(--color-main-100);
	max-height: 60vh;
	width: 100%;
	margin-top: 0.5rem;
	overflow-y: auto;
	scrollbar-color: var(--color-main-500) var(--color-main-100);
	table {
		width: 100%;
		max-height: 60vh;
		table-layout: auto;
		padding-bottom: 1rem;

		thead {
			background-color: var(--color-main-500);
			color: white;
			top: 0;
		}

		th {
			padding: 0.5rem;
		}

		tr,
		td {
			padding: 0.25rem;
			border-width: 3px;
			border-color: var(--color-main-500);
			border-style: solid;
		}

		td.dontHaveButtons {
			padding-top: 0.85rem;
			padding-bottom: 0.85rem;
		}
	}
}

#alertaBox{
    position: absolute;
    bottom: 30px;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
@keyframes sairCantoDireito {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


.alerta{
    width: 400px;
    height: 80px;
    background-color: #FFE0C6;
    font-weight: 500;
    margin: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    animation: changeBackgroundColor 15s forwards;
    animation: sairCantoDireito 1s forwards;
}

.alerta i{
    margin: 0 20px;
    font-size: 35px;
    color: #8B1515;
}

.alerta::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #8B1515;
    animation: anim 4s linear forwards;
}

.alertaC{
    width: 400px;
    height: 80px;
    background-color: #FFE0C6;
    font-weight: 500;
    margin: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    animation: changeBackgroundColor 15s forwards;
    animation: sairCantoDireito 1s forwards;
}

.alertaC i{
    margin: 0 20px;
    font-size: 35px;
    color: #298B15;
}

.alertaC::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #298B15;
    animation: anim 4s linear forwards;
}

.alertaE{
    width: 400px;
    height: 80px;
    background-color: #FFE0C6;
    font-weight: 500;
    margin: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    animation: changeBackgroundColor 15s forwards;
    animation: sairCantoDireito 1s forwards;
}

.alertaE i{
    margin: 0 20px;
    font-size: 35px;
    color: #55371F;
}

.alertaE::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #55371F;
    animation: anim 4s linear forwards;
}

.alertaI{
    width: 400px;
    height: 80px;
    background-color: #FFE0C6;
    font-weight: 500;
    margin: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    animation: changeBackgroundColor 15s forwards;
    animation: sairCantoDireito 1s forwards;
}

.alertaI i{
    margin: 0 20px;
    font-size: 35px;
    color: #FFD037;
}

.alertaI::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #FFD037;
    animation: anim 4s linear forwards;
}


@keyframes anim {
    100%{
        width: 0;
    }
}

@keyframes changeBackgroundColor {
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.msg{
    border: 2px solid black;
    padding: 5vw;
    border-radius: 25px;
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 420px){
    .alerta{
        width: 300px;
        height: auto;
        padding: 0.8rem;
    }
}